{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "unused-imports", "prettier"],
  "extends": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "ignorePatterns": [
    "dist",
    "tmp",
    "coverage",
    ".github"
  ],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "warn",
    "unused-imports/no-unused-imports": "error",
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "semi": false,
      "trailingComma": "all",
      "printWidth": 140
    }]
  }
}
